<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
          crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
</head>

<body>

<nav class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container-fluid">
        <p class="navbar-brand text-white">
            <b><span th:text="${admin.getEmail()}"></span></b> with roles:
            <span th:text="${admin.getRoles()}"></span>
        </p>
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-dark text-secondary">Logout</button>
        </form>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-2 px-0 ">
            <ul class="list-group-flush px-0 py-2 ">
                <li class="list-group-item active" aria-current="true">Admin</li>
                <a class="nav-item nav-link" th:href="@{/user}">User</a>
            </ul>
        </div>

        <div class="col-sm-10 text-left tab-content bg-light" id="nav-tabContent">
            <div class="tab-pane fade show active tab-content text-left" id="userPanel" role="tabpanel">
                <h1 style="color: black" class="m-3">Admin panel</h1>
                <div class="bg-light">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="/admin">Users Table</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="/admin/new">New User</a>
                        </li>
                    </ul>

                    <div class="tab-pane fade show active" id="allusers">
                        <div class="gray border">
                            <h3 style="text-align: left; margin: 1%"> All users</h3>
                        </div>
                        <div style="margin:1% ">

                            <form th:action="@{/admin}" th:object="${user}"
                                  th:method="POST">
                                <div class="modal-body col-md text-center">
                                    <label for="name0"><b>First name</b></label>
                                    <input th:name="userName" th:type="text"
                                           class="form-control" id="name0"
                                           th:value="${user.userName}"/>
                                    <br>
                                    <label for="surname0"><b>Last name</b></label>
                                    <input th:name="lastName" th:type="text"
                                           class="form-control" id="surname0"
                                           th:value="${user.lastName}"/>
                                    <br>
                                    <label for="age0"><b>Age</b></label>
                                    <input th:name="age" th:type="number"
                                           class="form-control" id="age0"
                                           th:value="${user.age}"/>
                                    <br>
                                    <label for="email"><b>E-mail</b></label>
                                    <input th:name="email" th:type="email"
                                           class="form-control" id="email"
                                           th:value="${user.email}"/>
                                    <br>
                                    <label for="pass"><b>Password</b></label>
                                    <input th:name="password" th:type="password"
                                           class="form-control" id="pass"
                                           th:value="${user.password}"/>
                                    <br>

                                    <label><b>Role</b></label>
                                    <div class="form-check form-switch" th:align="left">
                                        <input class="form-check-input" th:id="1"
                                               th:value="ROLE_ADMIN" th:type="checkbox" th:name="role"
                                               id="ADMIN">
                                        <label class="form-check-label" for="ADMIN">ADMIN</label>
                                    </div>
                                    <div class="form-check form-switch" th:align="left">
                                        <input class="form-check-input" th:id="2"
                                               th:value="ROLE_USER" th:type="checkbox" th:name="role"
                                               id="USER">
                                        <label class="form-check-label" for="USER">USER</label>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close
                                    </button>
                                    <button type="submit" class="btn btn-primary">
                                        Create new!
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>